* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* 
.search_bar {
    position: inherit;
}


#search_icon {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    padding: 7px 7px;
    border: none;
    border-radius: 14px;
    color: white;
    background-color: rgb(41, 174, 165);
    cursor: pointer;

}

.bar {
    height: 25px;
    width: 300px;
    border: 1px solid gray;
    border-radius: 17px;
    padding-left: 15px;
}




























.options-1 {
    display: none;
    position: absolute;
}

.ourproduct:hover .options-1 {
    display: block;
}

/* 
.select {
    width: 100%;
} */
